<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Subquery in the SELECT clause
© ExploreAI Academy

In this notebook, we will look at subqueries, which are powerful tools to enable more in-depth analysis in SQL. They are essentially intermediate results sets that we access with another query, so **a query inside another query**. We can use subqueries in various places in a query, and those subquery results also have various forms. Here, we look at the **use of a subquery in the `SELECT` clause.**

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

In this train, we will learn:
- How to use **subqueries** instead of static values to make calculations dynamic.
- How to turn a normal subquery into a **correlated subquery** to perform calculations based on specific criteria.

## Overview

Imagine we want to calculate the percentage of land area a specific country in a sub-region occupies, as a percentage of the total land area in that sub-region. That is a challenging question because we need to divide each country's land area with the sum of all countries in that sub-region. 
To do it, we can use a subquery. For example, let's just look at one sub-region for now, `Middle Africa`, and use the `Geographic_location` table to **find out the percentage of land each country has as a percentage of the total for 'Middle Africa'.**

## Connecting to our MySQL database

We will use our `Geographic_location` table in our `united_nations` database that we created in MySQL Workbench. We can apply the same queries we used in MySQL Workbench in this notebook if we connect to our MySQL server by running the cells below.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:Dau/2022@localhost:3306/united_nations

'Connected: root@united_nations'

## Exercise

### 1. Calculate the total land area of the 'Middle Africa' sub-region

Write a query that will find the `Land_area` sum for the `Middle Africa` sub-region. Call this column `total_land_area`.

In [3]:
%%sql

SELECT
    SUM(Land_area) as total_land_area
FROM 
    Geographic_location 
WHERE 
    Sub_region = 'Middle Africa';

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(Decimal('3888270.00'),)]

### 2. Calculate land area percentages for the Middle African countries using a static value

Recall that, to find the percentage of land area each country in the `Middle Africa` sub-region occupies, we need to **divide each country’s land area with the `total_land_area`**, which we have calculated above. Copy and paste this land area value into a new query and calculate the percentages. Call this calculated column `pct_regional_land`.

In [4]:
%%sql

SELECT 
    Country_name, 
    ROUND(Land_area/3888270.00*100) AS  pct_regional_land
FROM 
    Geographic_location 
WHERE 
    Sub_region = 'Middle Africa';

 * mysql+pymysql://root:***@localhost:3306/united_nations
9 rows affected.

[('Angola', Decimal('32')),
 ('Cameroon', Decimal('12')),
 ('Central African Republic', Decimal('16')),
 ('Chad', Decimal('32')),
 ('Congo', None),
 ('Democratic Republic of the Congo', None),
 ('Equatorial Guinea', Decimal('1')),
 ('Gabon', Decimal('7')),
 ('Sao Tome and Principe', Decimal('0'))]

### 3. Calculate land area percentages for the Middle African countries using a subquery

Instead of using the static value above, let's improve our query by using a subquery to achieve the same result.

Hint: The subquery in this case will be the query we created to find the total land area in Exercise 1.

In [5]:
%%sql

SELECT 
    Country_name, 
    ROUND(land_area / (
                        SELECT 
                            SUM(Land_area)
                        FROM 
                            Geographic_location 
                        WHERE
                            Sub_region = 'Middle Africa') * 100, 2) as Pct_regional_land
FROM 
    Geographic_location 
WHERE 
    Sub_region = 'Middle Africa';

 * mysql+pymysql://root:***@localhost:3306/united_nations
9 rows affected.

[('Angola', Decimal('32.06')),
 ('Cameroon', Decimal('12.16')),
 ('Central African Republic', Decimal('16.02')),
 ('Chad', Decimal('32.38')),
 ('Congo', None),
 ('Democratic Republic of the Congo', None),
 ('Equatorial Guinea', Decimal('0.72')),
 ('Gabon', Decimal('6.63')),
 ('Sao Tome and Principe', Decimal('0.02'))]

### Correlated subqueries

With a normal nested subquery (uncorrelated), **it runs first and executes once**, returning value(s) to be used by the outer query. This is what we have above where our subquery calculates the land area sum for the `Middle Africa` sub-region, and this is the value that is returned to the outer query to calculate land area percentages.

If we want to calculate the land area percentages for all the regions, we would need to manually edit the search string in the `WHERE` clause, which is not very practical.

Instead, we can use a **correlated subquery**. This is a type of subquery that is **executed once for every row processed by the outer query**. It is often used when you need to perform a calculation based on values in the current row of the outer query. In our case, we want the subquery to calculate the land area sum based on the sub-region value of the current row being processed by the outer query. 

Below is a general syntax template where a correlated subquery has been used:

```
SELECT
    outer_column1, 
    outer_column2
FROM
    outer_table AS outer_alias
WHERE 
    expression operator (
                        SELECT 
                            aggregate_function(inner_column)
                        FROM 
                            inner_table AS inner_alias
                        WHERE 
                            inner_column = outer_alias.outer_column2
                        )
;
```

### 4. Calculate country land area percentages for all the regions using a correlated subquery

Transform the subquery in Exercise 2 into a correlated subquery that will calculate land area percentages for all the regions.

Hint: Use the general syntax above to help you figure out how to achieve this.

In [6]:
%%sql
    
SELECT 
    Country_name, 
    ROUND(Land_area / (
                        SELECT 
                            SUM(Land_area)
                        FROM 
                            Geographic_location 
                        WHERE
                            Sub_region = g.Sub_region) * 100, 2) as Pct_regional_land
FROM 
    Geographic_location AS g;

 * mysql+pymysql://root:***@localhost:3306/united_nations
182 rows affected.

[('Afghanistan', Decimal('13.67')),
 ('Algeria', Decimal('36.03')),
 ('American Samoa', Decimal('2.77')),
 ('Angola', Decimal('32.06')),
 ('Anguilla', None),
 ('Antigua and Barbuda', Decimal('0.21')),
 ('Argentina', Decimal('17.77')),
 ('Armenia', Decimal('0.82')),
 ('Aruba', Decimal('0.09')),
 ('Australia', Decimal('96.69')),
 ('Azerbaijan', Decimal('2.37')),
 ('Bahamas', None),
 ('Bahrain', Decimal('0.02')),
 ('Bangladesh', Decimal('2.73')),
 ('Barbados', Decimal('0.21')),
 ('Belize', Decimal('0.93')),
 ('Benin', Decimal('1.97')),
 ('Bermuda', Decimal('0.00')),
 ('Bhutan', Decimal('0.80')),
 ('Bolivia (Plurinational State of)', None),
 ('Botswana', Decimal('21.38')),
 ('Brazil', Decimal('54.27')),
 ('British Virgin Islands', Decimal('0.07')),
 ('Brunei Darussalam', Decimal('0.14')),
 ('Burkina Faso', Decimal('4.77')),
 ('Burundi', Decimal('0.43')),
 ('Cabo Verde', Decimal('0.07')),
 ('Cambodia', Decimal('4.57')),
 ('Cameroon', Decimal('12.16')),
 ('Canada', Decimal('95.62')),
 ('Cayman Islands', Decimal('0.12')),
 ('Central African Republic', Decimal('16.02')),
 ('Chad', Decimal('32.38')),
 ('Chile', Decimal('4.83')),
 ('China', Decimal('83.06')),
 ('Colombia', Decimal('7.20')),
 ('Comoros', Decimal('0.03')),
 ('Congo', None),
 ('Cook Islands', None),
 ('Costa Rica', Decimal('2.08')),
 ("Côte d'Ivoire", None),
 ('Cuba', Decimal('49.92')),
 ('Curaçao', None),
 ('Cyprus', Decimal('0.26')),
 ("Democratic People's Republic of Korea", None),
 ('Democratic Republic of the Congo', None),
 ('Djibouti', Decimal('0.39')),
 ('Dominica', Decimal('0.36')),
 ('Dominican Republic', Decimal('23.21')),
 ('Ecuador', Decimal('1.61')),
 ('Egypt', None),
 ('El Salvador', Decimal('0.84')),
 ('Equatorial Guinea', Decimal('0.72')),
 ('Eritrea', Decimal('2.04')),
 ('Eswatini', Decimal('0.65')),
 ('Ethiopia', Decimal('18.97')),
 ('Falkland Islands (Malvinas)', None),
 ('Fiji', Decimal('3.45')),
 ('French Guiana', None),
 ('French Polynesia', Decimal('48.09')),
 ('Gabon', Decimal('6.63')),
 ('Gambia', None),
 ('Georgia', Decimal('1.99')),
 ('Ghana', Decimal('3.97')),
 ('Greenland', Decimal('4.38')),
 ('Grenada', Decimal('0.16')),
 ('Guadeloupe', None),
 ('Guam', Decimal('21.86')),
 ('Guatemala', Decimal('4.37')),
 ('Guinea', Decimal('4.28')),
 ('Guinea-Bissau', Decimal('0.49')),
 ('Guyana', Decimal('1.28')),
 ('Haiti', Decimal('13.24')),
 ('Honduras', Decimal('4.56')),
 ('India', Decimal('62.33')),
 ('Indonesia', Decimal('48.57')),
 ('Iran (Islamic Republic of)', None),
 ('Iraq', Decimal('12.44')),
 ('Israel', Decimal('0.62')),
 ('Jamaica', Decimal('5.20')),
 ('Japan', Decimal('3.21')),
 ('Jordan', Decimal('2.55')),
 ('Kazakhstan', Decimal('72.01')),
 ('Kenya', Decimal('9.57')),
 ('Kiribati', Decimal('32.79')),
 ('Kuwait', Decimal('0.51')),
 ('Kyrgyzstan', None),
 ("Lao People's Democratic Republic", None),
 ('Lebanon', Decimal('0.29')),
 ('Lesotho', Decimal('1.15')),
 ('Liberia', Decimal('1.68')),
 ('Libya', Decimal('26.62')),
 ('Madagascar', Decimal('9.78')),
 ('Malawi', Decimal('1.58')),
 ('Malaysia', Decimal('8.50')),
 ('Maldives', Decimal('0.01')),
 ('Mali', Decimal('21.27')),
 ('Marshall Islands', Decimal('7.29')),
 ('Martinique', None),
 ('Mauritania', Decimal('17.97')),
 ('Mauritius', Decimal('0.03')),
 ('Mayotte', None),
 ('Mexico', Decimal('79.28')),
 ('Micronesia (Federated States of)', None),
 ('Mongolia', Decimal('13.72')),
 ('Montserrat', None),
 ('Morocco', Decimal('6.75')),
 ('Mozambique', Decimal('13.22')),
 ('Myanmar', Decimal('16.89')),
 ('Namibia', Decimal('31.06')),
 ('Nauru', Decimal('0.81')),
 ('Nepal', Decimal('3.01')),
 ('New Caledonia', Decimal('3.45')),
 ('New Zealand', Decimal('3.31')),
 ('Nicaragua', Decimal('4.91')),
 ('Niger', Decimal('22.09')),
 ('Nigeria', Decimal('15.88')),
 ('Niue', None),
 ('Northern Mariana Islands', Decimal('18.62')),
 ('Oman', Decimal('8.87')),
 ('Pakistan', Decimal('16.16')),
 ('Palau', Decimal('18.62')),
 ('Panama', Decimal('3.02')),
 ('Papua New Guinea', Decimal('85.51')),
 ('Paraguay', Decimal('2.58')),
 ('Peru', Decimal('8.31')),
 ('Philippines', Decimal('7.71')),
 ('Puerto Rico', Decimal('4.26')),
 ('Qatar', Decimal('0.33')),
 ('Republic of Korea', None),
 ('Réunion', None),
 ('Rwanda', Decimal('0.41')),
 ('Saint Barthélemy', None),
 ('Saint Helena', None),
 ('Saint Kitts and Nevis', None),
 ('Saint Lucia', None),
 ('Saint Martin (French Part)', None),
 ('Saint Pierre and Miquelon', None),
 ('Saint Vincent and the Grenadines', None),
 ('Samoa', Decimal('38.75')),
 ('Sao Tome and Principe', Decimal('0.02')),
 ('Saudi Arabia', Decimal('61.62')),
 ('Senegal', Decimal('3.36')),
 ('Seychelles', Decimal('0.01')),
 ('Sierra Leone', Decimal('1.26')),
 ('Singapore', Decimal('0.02')),
 ('Sint Maarten (Dutch part)', Decimal('0.02')),
 ('Solomon Islands', Decimal('5.29')),
 ('Somalia', Decimal('10.55')),
 ('South Africa', Decimal('45.77')),
 ('South Sudan', Decimal('10.62')),
 ('Sri Lanka', Decimal('1.30')),
 ('State of Palestine', None),
 ('Sudan', Decimal('28.26')),
 ('Suriname', Decimal('1.01')),
 ('Syrian Arab Republic', Decimal('5.26')),
 ('Tajikistan', Decimal('3.70')),
 ('Thailand', Decimal('13.22')),
 ('Timor-Leste', Decimal('0.38')),
 ('Togo', Decimal('0.95')),
 ('Tokelau', None),
 ('Tonga', Decimal('9.98')),
 ('Trinidad and Tobago', Decimal('2.47')),
 ('Tunisia', Decimal('2.35')),
 ('Türkiye', None),
 ('Turkmenistan', Decimal('12.53')),
 ('Turks and Caicos Islands', Decimal('0.46')),
 ('Tuvalu', Decimal('0.42')),
 ('Uganda', Decimal('3.37')),
 ('United Arab Emirates', Decimal('2.04')),
 ('United Republic of Tanzania', None),
 ('United States of America', None),
 ('United States Virgin Islands', None),
 ('Uruguay', Decimal('1.14')),
 ('Uzbekistan', Decimal('11.75')),
 ('Vanuatu', Decimal('2.30')),
 ('Venezuela (Bolivarian Republic of)', None),
 ('Viet Nam', None),
 ('Wallis and Futuna Islands', None),
 ('Yemen', None),
 ('Zambia', Decimal('12.50')),
 ('Zimbabwe', Decimal('6.50'))]

As SQL looks at the first row in **`g`**, the sub-region of the first row is **`g.sub-Region`**. 

So for the first row, the sub-region will be `Central and Southern Asia`. The inner query will then execute, filtering out the Central and Southern Asia data, and calculate the sum of the land area in Central and Southern Asia. The main query then uses that value to calculate the percentage. SQL then moves to the second row. This time, the sub-region is `Northern Africa and Western Asia`, which the subquery uses again, and passes back to the main query, and so on.

The downside of using correlated subqueries is that they can be quite inefficient. This is because the subquery may be evaluated once for each row processed by the outer query. For example, once we have calculated the total area for Middle Africa, the same calculation will be repeated for another row.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>